quick_install.sh
Miniconda3-latest-Linux-x86_64.sh
miniconda3
openbis-downloads
bfabric-downloads
sftp-health2030
sftp-viollier
token.pickle
credentials.json
snake-envs
samples*
working/samples
working/samples.tsv
working/.snakemake/
working/lsf.*
working/references/*.fasta.*
working/references/*.log
working/references/*.benchmark
working/variants/
working/qa.csv
working/qa_report.html
working/qa_vals.csv
garbage/
status/
._*
.snapshot
