ssh
.*.sw?
secrets
pangolin_src/fgcz-gstore.uzh.ch
uploader/__pycache__
pangolin_src/garbage_out.log

working/references/NC_045512.2.fasta.* 

working/samples*
working/slurm-*
working/cluster_logs
working/vpipe_output
working/uploads/
pangolin_src/movedatafiles.sh
.snakemake
movedatafiles.sh