[general]
aligner = bwa
primers_trimmer = samtools
#temp_prefix = /cluster/scratch/bs-pangolin/pangolin/temp

[input]
datadir = samples/
samples_file = /cluster/project/pangolin/processes/sars_cov_2/lollipop/samples.tsv_six_months_ago.tsv
#samples_file = samples.tsv
fastq_suffix =
reference = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/NC_045512.2.fasta
metainfo_file = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/metainfo.yaml
gff_directory = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/gffs/
genes_gff=/cluster/project/pangolin/processes/sars_cov_2/lollipop/references/gffs/Genes_NC_045512.2.GFF3
primers_file = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/primers/v3/nCoV-2019.tsv
primers_bedfile = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/primers/v3/nCoV-2019.primer.bed
protocols_file = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/primers.yaml
variants_def_directory = /cluster/project/pangolin/processes/sars_cov_2/lollipop/references/voc/

[output]
datadir = /cluster/project/pangolin/processes/sars_cov_2/lollipop/results
cohortdir = /cluster/project/pangolin/processes/sars_cov_2/lollipop/variants/
trim_primers = True
snv = True
local = True
global = False
visualization = True
QA = True
#dehumanized_raw_reads = True
#upload = True

[tallymut]
mem=10000

[preprocessing]
mem=4096

#
# Group: align
#

[sam2bam]
mem=5000

[ref_bwa_index]
#mem=2000
mem=65536

[bwa_align]
#mem=2048
#mem=5120
mem=40690
#threads=6
threads=8
# linear scale breaks at 8~16 (See: https://www.researchgate.net/figure/Performance-of-Multi-Threading-CPU-time-and-walltime-usage-of-BWA-Mem-and-GATK_fig3_275950273)
#  2: 2739, 4: 5012, 6: 6045, 8: 6404 /8995

[bowtie_align]
#mem=2048
mem=12288
threads=6


[hmm_align]
leave_msa_temp = true



[consensus_sequences]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml

[frameshift_deletions_checks]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
mem=8192

[basecounts]

[coverage]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
#mem=4096
#mem=256
mem=131072
threads=32
#threads=64
time=600


[minor_variants]
#mem=256
mem=16384
threads=64

[upload]
consensus=majority
options=-R
orig_fastq=false
orig_cram=false

#
# Group: dehuman
#

[dehuman]
#mem=4096
mem=65536
threads=16
time=5400
##ref_host = /cluster/project/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa
##ref_host=/cluster/project/pangolin/processes/sars_cov_2/lollipop/references/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
keep_host = True
catchup=False


[timeline]
locations_table = ww_locations.tsv
regex_yaml = regex.yaml

[deconvolution]
threads=32
deconvolution_config = deconv_bootstrap_cowwid.yaml
#deconvolution_config = deconv_linear_logit_quasi_strat.yaml
variants_config = variant_config.yaml
variants_dates = var_dates.yaml
filters = filters_badmut.yaml
time=7200
mem=65536

[cooc]
#time=240
time=5000
mem=32768
#
# Group: SNV
#

[web_visualization]
mem=2000

[coverage_intervals]
coverage=0
mem=2000
threads=1

[lofreq]
consensus=false

[snv]
consensus=false
#conda=/cluster/work/bewi/pangolin/test/shorah2.yaml
localscratch=$TMPDIR
### NOTE the next three parameters are going to be edited by a sed script
# as follows:	time	meme	threads
# - normal:	240	1024	64
# - hugemem:	1200	32768	63
time=240
mem=1024
threads=64


#
# Divert to our local versions
#

[applications]
#cojac = /cluster/project/pangolin/cojac/cojac-wrapper
#lollipop = /cluster/project/pangolin/test/lollipop-wrapper
#extract_consensus=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/extract_consensus
#frameshift_deletions_checks=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/frameshift_deletions_checks
#gather_coverage=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/gather_coverage
#shorah=/cluster/work/bewi/pangolin/shorah-test/test/shorah-wrap shotgun -t 64

[mutlist]
time=5000
mem=4096
