[general]
aligner = bwa

[input]
samples_file = samples.tsv
fastq_suffix =
reference = references/NC_045512.2.fasta
gff_directory = references/gffs/
primers_file = references/primers/nCoV-2019.tsv

[output]
snv = True
local = True
global = False
visualization = True

[hmm_align]
leave_msa_temp = true

[basecounts]
conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml

[coverage]
conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
mem=128
threads=64

[minor_variants]
mem=256
threads=64

[coverage_intervals]
coverage=0
mem=1000
threads=1

[snv]
consensus=false
#conda=/cluster/work/bewi/pangolin/test/shorah2.yaml
localscratch=$TMPDIR
### NOTE the next three parameters are going to be edited by a sed script
# as follows:	time	meme	threads
# - normal:	240	1024	64
# - hugemem:	1200	32768	8
time=240
mem=1024
threads=64


[applications]
aln2basecnt=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/aln2basecnt
gather_coverage=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/gather_coverage
#shorah=/cluster/work/bewi/pangolin/shorah-test/test/shorah-wrap shotgun -t 64
