[general]
aligner = bwa

[input]
samples_file = samples.tsv
fastq_suffix =
reference = references/NC_045512.2.fasta
gff_directory = references/gffs/

[output]
snv = True
local = True
global = False
visualization = True

[hmm_align]
leave_msa_temp = true

[coverage_intervals]
coverage=0

[snv]
conda=/cluster/work/bewi/pangolin/working-dev/test-shorah.yaml
#em=3072
mem=6144
threads=24
##ime=2880 -R fullnode

[applications]
shorah=/cluster/work/bewi/pangolin/shorah-test/test/shorah-wrap shotgun -t 64
